# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Pytest / coverage
htmlcov/
.tox/
.coverage
.pytest_cache/
